.client-say {
  padding-bottom: 150px;

  .title {
    margin-bottom: 100px;
    padding-bottom: 30px;
  }

  &__list {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  &__item {
    text-align: center;
  }

  &__content {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__author {
    text-align: center;
    &__name {
      font-size: 25px;
      text-transform: capitalize;
      text-align: center;
    }
    &__desc {
      font-size: 25px;
      font-style: italic;
      text-align: center;
    }
  }

  &__slider {
    position: relative;
  }

  &__list {
    position: relative;
  }

  &__item {
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
    &:not(.active) {
      position: absolute;
      top: 0;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn {
    &__left,
    &__right {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #333;
      transform: translateY(-50%);
    }

    &__left {
      left: 0;
    }

    &__right {
      right: 0;
    }
  }
}
