.header {
  height: var(--header-height);
  padding: 0 30px;
  position: relative;
  z-index: 9;

  .iko-row {
    height: 100%;
    align-items: center;
  }

  &__logo {
    .logo {
      font-size: 48px;
      font-weight: 900;
      font-size: 72px;
      background: -webkit-linear-gradient(var(--blue-color), rgb(10, 145, 255));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__right {
    @include flex(center, flex-end);
  }

  &__menu {
    @include flex(center, center);

    &__item {
      font-size: 25px;
      font-weight: 400;
    }

    &__item ~ &__item {
      padding-left: 28px;
    }
  }

  &__darkmode {
    padding-left: 30px;
  }
}
